/*
Name: Brandon Chhin
File: style.css
Date: June 20, 2024
This CSS document is assignment 3 part 2, styling A cool-looking box
*/ 
html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */

div {
    /* box size/position */
    width: 250px;
    height: 200px;
    margin: auto;
    
    /* box styling */
    border: 1px solid black;
    border-radius: 15px;
    background-color: red;

    /* Text size/styling - Each rem = 16px therefore 18px / 16px = 1.125rem */
    color: white;
    text-shadow: 1px 1px 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;

  }