/*
Name: Brandon Chhin
File: style.css
Date: June 20, 2024
This CSS document is assignment 3 part 2, styling A cool-looking box
*/ 
html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */

div {
    /* box size/position */
    width: 250px;
    height: 200px;
    margin: auto;
    border: 1px solid black;
  }