/*
Name: Brandon Chhin
File: style.css
Date: June 21, 2024
This CSS document is assignment 3 part 3, Typesetting a community school homepage
*/

/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */
  @font-face {
    font-family: 'IBM_Serif';
    src: url(./fonts/IBM_Plex_Serif/IBMPlexSerif-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'PT_Serif';
    src: url(./fonts/PT_Serif/PTSerif-Regular.ttf) format('truetype');
  }
  html {
    font-family: 'IBM_Serif', serif;
    font-size: 10px;
  }
  h1, h2 {
    font-family: 'PT_Serif', sans-serif;
    letter-spacing: 2px;
  }
