/*
Name: Brandon Chhin
File: style.css
Date: June 21, 2024
This CSS document is assignment 3 part 3, Typesetting a community school homepage
*/

/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  /* Custom fonts */
  @font-face {
    font-family: 'IBM_Serif';
    src: url(./fonts/IBM_Plex_Serif/IBMPlexSerif-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'PT_Serif';
    src: url(./fonts/PT_Serif/PTSerif-Bold.ttf) format('truetype');
  }



  /* Text styling */
  html {
    font-family: 'IBM_Serif', serif;
    font-size: 10px;
  }

  header {
    text-align: center;
  }
  
  h1, h2 {
    font-family: 'PT_Serif', sans-serif;
    letter-spacing: 2px;
  }

  body {
    line-height: 15px;
    letter-spacing: 1px;
    word-spacing: 1px;
  }

  section p {
    text-indent: 20px;
  }



  /* Link styling */ 
  a {
    outline: none;
  }

  a[href*="http"] {
    padding-right: 19px;
    background: url(external-link-52.png) no-repeat 100% 0;
    background-size: 16px 16px;
  }

  a:link, a:visited {
    color: #a66;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }

  a:active {
    color: transparent;
    text-shadow: 0px 0px 1px rgb(89, 255, 0),
                 0px 0px 2px rgb(89, 255, 0);
  }


  /* List styling*/
  ul, ol {
    margin: 25px 0;
  }

  ul {
    list-style-type: square;
  }

  ol {
    list-style-type: lower-alpha;
  }



  /* nav menu styling*/



